/* wildcard */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* reusable styles */
:root {
    --large-font: 4vh;
    --medium-font: 2vh;

    --col-bg-light: #41393a;
    --col-bg-dark: #342C2C;
    --col-bold: #c6ca53;
    --col-mild: #d8a361;
    --col-pop: #ffa69e;
    --col-offwhite: #fad6d3;
}

body { /* set height to 100% of viewport */
    background-color: var(--col-bg-dark);
}


/* sidebar stylings */
sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 0%;
    height:100vh;
    z-index: 999;
    padding: 5px 10px 0px 15px;
    margin: 0px 15px 0px 0px;
    font-size: var(--large-font);
    letter-spacing: 8px;
    line-height: 1;
    color: var(--col-mild);
    background-color: var(--col-bg-light);
    border-width: 0px 5px 0px 0px;
    border-style: dashed;
    border-color: var(--col-bg-dark);
    text-shadow: 3px 3px 2px rgba(0,0,0,0.5);
}

sidebar h1 {
    font-weight: bolder;
}

sidebar h1 a {
    color: var(--col-mild);
    text-decoration: none;
}

sidebar nav {
    line-height: 1.2;
    margin: 0px 0px 20px 0px;
}

sidebar nav ul {
    color: var(--col-pop);
    list-style: none;
}

sidebar nav ul li a {
    color: var(--col-offwhite);
    text-decoration: none;
}

sidebar nav ul li a:hover {
    color: var(--col-bold);
}

sidebar nav ul li a:active {
    color: var(--col-mild);
}


/* header stylings */
header {
    position: relative;
    flex: 1 1 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 20px 0px;
}

header .bg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../images/header-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-filter: blur(15px);
    filter: blur(15px);

}

.headshot img {
    height: 65vh;
    flex: 0 1 auto;
    border-radius: 50%;
    border-width: 5px;
    border-style: dashed;
    border-color: var(--col-bold);
    box-shadow: 0px 0px 100px rgba(65,57,58,0.6);
}


/* article stylings */
article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1;
}


/* section and card stylings */
section {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px;
    color: var(--col-mild);
}

section .section-header {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 15px 0px;
}

section .section-header h2 {
    font-weight: 500;
    font-size: 4vw;
    font-style: oblique;
    letter-spacing: 8px;
    flex: 1 0 auto;
}

section .section-divider-right {
    flex: 1 1 100%;
    margin: 0.8vw 0px 0px 15px;
    padding: 0px;
    height: 0px;
    border-width: 5px 0px 5px 5px;
    border-style: dashed;
    border-color: var(--col-bold);
}

section .section-divider-left {
    display: none;
    flex: 1 1 100%;
    margin: 0.8vw 15px 0px -15px;
    padding: 0px;
    height: 0px;
    border-width: 5px 0px 5px 5px;
    border-style: dashed;
    border-color: var(--col-bold);
}

section .card-container {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px -10px;
}

/* disabled for now; reformatting but leaving as option
section .card-container .card:nth-child(even) {
    text-align: right;
}
*/

section .card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 25%;
    margin: 20px;
}

section .card video {
    width: 47.5%;
    margin: 0px;
    border-radius: 15px;
}

section .card img {
    width: 47.5%;
    border-radius: 15px;
}

section .card iframe {
    width: 47.5%;
    height: 40vw;
    max-width: 700px;
    max-height:800px;
    margin: 0px 0px 0px -10px;
    border-radius: 15px;
    border: none;
}

section .card .description {
    flex: 1 1 40%;
    margin: 0px 25px 0px 25px;
}

section .card .description h3 {
    font-size: 2.4vw;
    color: var(--col-pop);
}

section .card .description h4 {
    font-size: 1.8vw;
    font-weight: lighter;
    color: var(--col-pop);
}

section .card .description p {
    margin: 5px 0px 0px 0px;
    font-size: 1.4vw;
    font-weight: lighter;
    color: var(--col-pop);
}

section .card .description a {
    margin: 5px 0px 0px 0px;
    font-size: 1.4vw;
    font-weight: lighter;
    color: var(--col-offwhite);
    text-decoration: none;
}

section .card .description a:hover {
    color: var(--col-bold);
}

section .card .description a:active {
    color: var(--col-mild);
}


/* section alignments */
.sound {
    text-align: left;
}

.code {
    text-align: right;
}

.music {
    text-align: left;
}


/* general container stylings */
.body-container {
    display: flex;
    flex-direction: row;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/* utility classes */
.brighter {
    color: var(--col-bold);
}

.no-italic {
    font-style: normal;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.border-right {
    width: 10%;
    height: 92%;
    margin: 0px 0px 0px -7%;
    border-radius: 1vw;
    border-width: 0px 5px 0px 0px;
    border-style: dashed;
    border-color: var(--col-pop);
}

.border-left {
    width: 10%;
    height: 92%;
    margin: 0px -7% 0px 0px;
    border-radius: 1vw;
    border-width: 0px 0px 0px 5px;
    border-style: dashed;
    border-color: var(--col-pop);
}